In [58]:
import os
from os.path import expanduser
import socket
import sys


# BELOW IS SYSTEM/PATH CONFIGURATION #
my_home = expanduser("~")
running_system = socket.gethostname()
# Configure machine's names here #
systemHLRN = 'blogin1'
systemLOCAL = 'Laurents-MacBook-Pro.local'
my_home = expanduser("~")
# Define local pass #
if running_system == systemLOCAL:
    print "computer = ", running_system
    wd_path = os.path.join(my_home,"Documents","projects", "pyfesom")
elif running_system[0:1] == "b" or running_system == systemHLRN:
    print "computer = ", running_system
    wd_path = os.path.join(my_home,"pyfesom")
else:
    print 'please configure your local machine : type socket.gethostname()'
print "working directory set to", wd_path
os.chdir(wd_path)
sys.path.append("codes/modules")
#########################################

computer =  blogin1
working directory set to /home/hbkoziel/pyfesom

In [59]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

# AUTOMATIC DEFINITION OF PATHS

In [60]:
datapath = wd_path+'/data/'
savepath    = wd_path+'/figures/insitu/'

# loading the data

In [61]:
BSO_obs = datapath+'BSO_nuts/BSO_nutrients_1980-2016_light.csv'
print BSO_obs
df_obs = pd.read_csv(BSO_obs, header=0, sep = ';',na_values=[''], decimal=",", index_col='time', parse_dates=True)
df_obs.head()

/home/hbkoziel/pyfesom/data/BSO_nuts/BSO_nutrients_1980-2016_light.csv

,Cruise,Station,lon,lat,Bot_Depth,Depth,po,Si,N
time,,,,,,,,,
1980-06-22 11:00:00,1980005,558,20.0,70.5,129,0.0,0.31,2.2,1.2
1980-06-22 11:00:00,1980005,558,20.0,70.5,129,5.0,0.26,2.1,1.2
1980-06-22 11:00:00,1980005,558,20.0,70.5,129,10.0,0.28,2.2,1.2
1980-06-22 11:00:00,1980005,558,20.0,70.5,129,20.0,0.27,2.2,1.2
1980-06-22 11:00:00,1980005,558,20.0,70.5,129,30.0,0.27,2.2,1.3

In [62]:
BSO_DIN_model = datapath+'BSO_nuts/BSO_DIN_model.csv'
df_model_din = pd.read_csv(BSO_DIN_model, header=0, sep = ',',na_values=[''], decimal=".", index_col='time', parse_dates=True)
df_model_din.head()

            DIN_0_50m  DIN_50_500m  DIN_ALL_DEPTHS
time
1980-01-01   8.845323     9.925855        9.655722
1980-02-01   9.614650    10.076662        9.961159
1980-03-01  10.010266    10.260735       10.198118
1980-04-01  10.288135    10.503408       10.449590
1980-05-01   6.770838    10.262804        9.389813

In [63]:
BSO_DSI_model = datapath+'BSO_nuts/BSO_DSI_model.csv'
df_model_dsi = pd.read_csv(BSO_DSI_model, header=0, sep = ',',na_values=[''], decimal=".", index_col='time', parse_dates=True)
df_model_dsi.head()

            DSI_0_50m  DSI_50_500m  DSI_ALL_DEPTHS
time
1980-01-01   4.966287     5.246417        5.176385
1980-02-01   5.168779     5.242611        5.224153
1980-03-01   5.267277     5.281955        5.278285
1980-04-01   5.359302     5.408779        5.396409
1980-05-01   3.262100     5.239344        4.745033

In [64]:
df_model = pd.concat([df_model_dsi, df_model_din], axis=1, sort=False)
df_model.head()

,DSI_0_50m,DSI_50_500m,DSI_ALL_DEPTHS,DIN_0_50m,DIN_50_500m,DIN_ALL_DEPTHS
time,,,,,,
1980-01-01,4.966287,5.246417,5.176385,8.845323,9.925855,9.655722
1980-02-01,5.168779,5.242611,5.224153,9.614650,10.076662,9.961159
1980-03-01,5.267277,5.281955,5.278285,10.010266,10.260735,10.198118
1980-04-01,5.359302,5.408779,5.396409,10.288135,10.503408,10.449590
1980-05-01,3.262100,5.239344,4.745033,6.770838,10.262804,9.389813

# Resampling

## observations

In [65]:
df_obs_0_50m = df_obs[df_obs.Depth <= 50]
df_obs_50_500m = df_obs[df_obs.Depth > 50]

df_obs_monthly_0_50m = df_obs_0_50m.resample('M').mean()
df_obs_monthly_50_500m = df_obs_50_500m.resample('M').mean()
df_obs_monthly_all_depth = df_obs.resample('M').mean()

df_obs_winter_monthly_0_50m = df_obs_monthly_0_50m[df_obs_monthly_0_50m.index.month.isin([11,12,1,2,3,4])]
df_obs_winter_monthly_50_500m = df_obs_monthly_50_500m[df_obs_monthly_50_500m.index.month.isin([11,12,1,2,3,4])]
df_obs_winter_monthly_alldepth = df_obs_monthly_all_depth[df_obs_monthly_all_depth.index.month.isin([11,12,1,2,3,4])]

df_obs_winter_0_50m = df_obs_winter_monthly_0_50m.resample('YS').mean()
df_obs_winter_50_500m = df_obs_winter_monthly_50_500m.resample('YS').mean()
df_obs_winter_alldepth = df_obs_winter_monthly_alldepth.resample('YS').mean()

df_obs_yearly_0_50m = df_obs_monthly_0_50m.resample('YS').mean()
df_obs_yearly_50_500m = df_obs_monthly_50_500m.resample('YS').mean()
df_obs_yearly_alldepth = df_obs_monthly_all_depth.resample('YS').mean()
df_obs_yearly_alldepth_std = df_obs_monthly_all_depth.resample('YS').std()

## model

In [66]:
df_model_winter_monthly = df_model[df_model.index.month.isin([11,12,1,2,3,4])]
df_model_winter = df_model_winter_monthly.resample('YS').mean()
df_model_yearly = df_model.resample('YS').mean()
df_model_yearly_std = df_model.resample('YS').std()

# plot DIN

In [ ]:
fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(2, 2, sharex=True, sharey=True,
                        gridspec_kw={'hspace': 0.1, 'wspace': 0.1},figsize=(10, 10))
plt.style.use('default')
fig.suptitle('Nitrates concentration at BSO')

ax1.plot(df_obs_winter_50_500m.N)
ax1.plot(df_model_winter.DIN_50_500m)
ax1.set_ylabel('[/mu L-1]')
ax1.grid(True)
#ax1.set_ylim(8,13)
ax1.title.set_text('Winter (NDJFM) averaged at depth >50m')


ax2.plot(df_obs_winter_alldepth.N)
ax2.plot(df_model_winter.DIN_ALL_DEPTHS)
ax2.grid(True)
ax2.title.set_text('Winter (NDJFM) averaged all depths')

ax3.plot(df_obs_winter_0_50m.N)
ax3.plot(df_model_winter.DIN_0_50m)
ax3.set_xlabel('time (year)')
ax3.set_ylabel('[/mu L-1]')
ax3.tick_params(labelrotation=45)
ax3.grid(True)
ax3.title.set_text('Yearly averaged at depth >50m')

ax4.plot(df_obs_yearly_50_500m.N, label='obs')
ax4.plot(df_model_yearly.DIN_50_500m,label='model')
ax4.set_xlabel('time (year)')
ax4.tick_params(labelrotation=45)
ax4.grid(True)
ax4.title.set_text('Yearly averaged all depths')

plt.legend()
#plt.savefig(savepath+'BSO_nitrates_obs_vs_model.png', dpi = 150, bbox_inches='tight')

# plot DSI

In [ ]:
fig, ((ax1, ax2), (ax3, ax4)) = plt.subplots(2, 2, sharex=True, sharey=True,
                        gridspec_kw={'hspace': 0.1, 'wspace': 0.1},figsize=(10, 10))
plt.style.use('default')
fig.suptitle('Silicates concentration at BSO')

ax1.plot(df_obs_winter_50_500m.Si)
ax1.plot(df_model_winter.DSI_50_500m)
ax1.set_ylabel('[/mu L-1]')
ax1.grid(True)
#ax1.set_ylim(8,13)
ax1.title.set_text('Winter (NDJFM) averaged at depth >50m')


ax2.plot(df_obs_winter_alldepth.Si)
ax2.plot(df_model_winter.DSI_ALL_DEPTHS)
ax2.grid(True)
ax2.title.set_text('Winter (NDJFM) averaged all depths')

ax3.plot(df_obs_winter_0_50m.Si)
ax3.plot(df_model_winter.DSI_0_50m)
ax3.set_xlabel('time (year)')
ax3.set_ylabel('[/mu L-1]')
ax3.tick_params(labelrotation=45)
ax3.grid(True)
ax3.title.set_text('Yearly averaged at depth >50m')

ax4.plot(df_obs_yearly_50_500m.Si,label='obs')
ax4.plot(df_model_yearly.DSI_ALL_DEPTHS,label='model')
ax4.set_xlabel('time (year)')
ax4.tick_params(labelrotation=45)
ax4.grid(True)
ax4.title.set_text('Yearly averaged all depths')

plt.legend()
#plt.savefig(savepath+'BSO_silicates_obs_vs_model.png', dpi = 150, bbox_inches='tight')

# exporting

In [ ]:
dates = pd.date_range('1980', freq="YS", periods= len(np.arange(1980,2016)))
df=pd.DataFrame()
df['time'] = dates
df.set_index('time', inplace= True)

In [ ]:
df['DIN_obs'] = df_obs_yearly_alldepth['N']
df['DIN_obs_std'] = df_obs_yearly_alldepth_std['N']
df['DSI_obs'] = df_obs_yearly_alldepth['Si']
df['DSI_obs_std'] = df_obs_yearly_alldepth_std['Si']

In [ ]:
df['DIN_model'] = df_model_yearly['DIN_ALL_DEPTHS']
df['DIN_model_std'] = df_model_yearly_std['DIN_ALL_DEPTHS']
df['DSI_model'] = df_model_yearly['DSI_ALL_DEPTHS']
df['DSI_model_std'] = df_model_yearly_std['DSI_ALL_DEPTHS']

In [ ]:
df.to_pickle('~/pyfesom/codes/transects/BSO_nut')

In [ ]:
df_model_yearly